.main{
    background: linear-gradient(to right, rgba(47, 197, 243, .8), rgba(47, 197, 243, .8)),  url(../images/bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: -10vh;
    text-align: center;
}
.main-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 95%;
    max-width: 1400px;
    margin: 200px 0;
}
.header{
    font-size: 2rem;
    color: var(--white);
    font-weight: bolder;
}
.sub-header{
    font-size: 1.2rem;
}
.hero-btn{
    display: flex;
    align-items: center;
    background: var(--gold);
    border: none;
    color: var(--white);
    font-weight: bold;
    font-size: .9rem;
    padding: 10px;
    gap: 10px;
    margin: 50px 0;
    border-radius: 5px;
    width: 100%;
    max-width: 250px;
}
.cta-icon{
    width: 20px;
}
.hero-btn:hover{
    box-shadow: 3px 3px 10px #ccc;
}
.repeat-wrapper{
    display: flex;
    width: 95%;
    max-width: 1300px;
    margin: -100px auto 50px auto;
    gap: 10px;
    overflow-x: scroll;
    box-shadow: 3px 3px 10px #ccc;
}
.repeat-card{
    background: var(--white);
    box-shadow: 3px 3px 10px #ccc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding: 0 20px 20px 20px;
    width: 250px;
}
.repeat-header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 200px;
    border-bottom-left-radius:100px;
    border-bottom-right-radius:100px;
    background: var(--blue);
}
.repeat-main{
    background: var(--white);
    width: 250px;
    text-align: center;
    margin: 20px 0;
}
.repeat-title{
    font-weight: bold;
    font-size: 1.2rem;
}
.repeat-details{
    font-size: .9rem;
    margin: 10px 0;
}
.repeat-footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.amount{
    padding: 10px;
    background: var(--gray);
}
.repeat-go{
    width: 20px;
    height: 20px;
    background: var(--blue);
    border-radius:50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.go{
    color: var(--white);
    font-size: 2rem;
}
.deco{
    display: none;
}
.service-intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 10px;
}
.contact,
.testimonials,
.service-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    width: 98%;
}
.service-title{
    font-size: 2rem;
    font-weight: bold;
}
.service-icon{
    width: 30px;
}
.service-details{
    font-size: 1.1rem;
    width: 90%;
    max-width: 500px;
}
.services{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.service{
    display: flex;
    align-items: center;
    gap: 10px;
}
.pickup-btn{
    display: flex;
    align-items: center;
    padding: 10px;
    border: none;
    background: var(--gold);
    gap: 10px;
    font-size: 1rem;
    font-weight: bold;
    color: var(--white);
    border-radius: 5px;
}
.submit:hover,
.pickup-btn:hover{
    box-shadow: 3px 3px 10px #000;
}
.pickup-icon{
    width: 30px;
}
.reviews{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
    margin:0 auto;
    text-align: center;
  }
  .reviews-wrapper{
    width: 90%;
    max-width: 1800px;
    gap:50px;
  }
  .review{
    transform: scale(.8);
  }
  .review-info{
    background: var(--gray);
    padding: 20px 20px 40px 40px;
    border-radius: 10px;
    color: var(--blackish);
  }
  .title{
      font-weight: bold;
  }
  .slick-current .review-info{
    background: var(--blue);
    padding: 20px 20px 40px 40px;
    border-radius: 10px;
    color: var(--white);
    transform: scale(1.3);
    z-index: 999;
    margin: 10px;
  }
  .reviews-details{
    width: 80%;
    max-width: 800px;
    text-align: center;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1;
  }
  .review-info::after{
    content: "";
    position: absolute;
    bottom: 110px;
    left: calc(50% - 20px);
    border-top: 20px solid var(--gray);
    border-bottom: 20px solid transparent;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    z-index: 99;
  }
  .slick-current .review-info::after{
    content: "";
    position: absolute;
    bottom: -40px;
    left: calc(50% - 20px);
    border-top: 20px solid var(--blue);
    border-bottom: 20px solid transparent;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    z-index: 99;
  }
  #reviewer-img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: 50px;
  }
  .slick-current .reviewer{
    margin: 50px 0;
    transform: scale(1.3);
  }
  .reviewer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .reviewer-name{
    font-weight: 300;
    font-size: .7rem;
  } 
  .review-info h1{
    font-size: 2rem;
  }
  .review-info h1{
    position: absolute;
    font-size: 3rem;
    font-weight: bold;
    left: 20px;
    top: 0;
  }
  
.contact-wrapper{
    width: 98%;
    max-width: 1200px;
    background:  url(../images/contactbg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    margin-top: -100px;
    border-radius: 10px;
    z-index: 2;
}
.contact-form{
    background: var(--gray);
    width: 90%;
    max-width: 500px;
    margin: 50px 20px;
    padding: 20px;
    border-radius: 5px;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.form-title{
    font-size: 1.2rem;
    font-weight:bold;
}
form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
form input{
    width: 100%;
    padding: 10px;
}
.submit{
    background: var(--gold);
    color: var(--white);
    font-weight: 400;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

@media only screen and (min-width: 600px) {
    .header{
        width: 60%;
        font-size: 4rem;
        font-weight: 900;
    }
    .main-info{
        line-height: 1.1;
        margin: 150px auto 50px auto;
    }
    .hero-btn{
        margin-top: 50px;
        font-size: 1rem;
        width: 350px;
    }
    .cta-icon{
        width: 30px;
    }
    .hero-btn:hover{
        box-shadow: 3px 3px 10px #ccc;
    }
    .repeat-wrapper{
        display: grid;
        grid-template-columns: repeat( 4, 1fr);
        overflow: hidden;
    }
    .repeat-card{
        width: 310px;
    }
    .repeat-main{
        width: 310px;
    }
    .decos,
    .service-intro{
        display: flex;
        flex-direction: row;
        gap: 50px;
    }
    .service-info{
        width: 30%;
        text-align: left;
    }
    .deco{
        display: block;
        width: 200px;
        height: 600px;
        border-radius: 200px;
        z-index: 2;
    }
    .two{
        margin-top: 200px;
    }
    .contact-form{
        padding: 50px;
        gap: 30px;
    }
    form{
        gap: 30px;
    }
}